<!DOCTYPE html>
<html>
<head>
  <title >Elfendüfte Sabine Krenn</title >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/blueimp-gallery@2.27.0/css/blueimp-gallery.min.css">
  <link href="assets/style.css" rel="stylesheet">
</head>
<body>
 <div id="app">
   <v-app light fill-height>
    <v-navigation-drawer disable-resize-watcher v-model="sidebar" app>
      <v-list>
        <v-list-item v-for="item in menuItems" :key="item.title" @click="$vuetify.goTo(item.path); sidebar = false">
          <v-list-item-content>{{ item.title }}</v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app dark color="rgb(68,0,72)" elevate-on-scroll>
      <v-app-bar-nav-icon class="hidden-sm-and-up" @click.stop="sidebar = !sidebar"></v-app-bar-nav-icon>
      <v-toolbar-title class="button" @click="$vuetify.goTo('#intro')">Elfendüfte&nbsp;<img src="assets/flask.svg" height="20" alt="Flasche"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn text v-for="item in menuItems" :key="item.title" @click="$vuetify.goTo(item.path)">{{ item.title }}</v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-content>
      <section id="intro">
        <v-parallax src="assets/intro.jpg" height="700">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img src="assets/logo-white.svg" alt="Elfe" height="125">
            <img src="assets/elfenduefte.svg" alt="Elfendüfte" height="36">
            <div class="shadow subheading mb-4 text-center ci">Sabine Krenn</div>
            <v-btn
              class="mt-12"
              color="rgb(68,0,72)"
              dark
              large
              @click="$vuetify.goTo('#aetherische-oele')"
            >
              Willkommen
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section id="aetherische-oele">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap>
                <v-flex xs12 md12>
                  <v-card flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Ätherische Öle, Essenzen, Enfleuragen, Absolues, <span style="white-space: nowrap;">CO<sub>2</sub></span> Extrakte,...</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Schon sehr lange beschäftigt sich der Mensch mit dem Duft und der Wirkung von Früchten, Pflanzen, Hölzern, Harzen und Wurzeln. Deren geballte Kraft kann eingesetzt werden, um Gesundheit zu unterstützen, Krankheiten zu lindern und Wohlbefinden zu erlangen,... aber auch bereits im Alten Ägypten um Tote einzubalsamieren.</p>
                      <br>
                      <div class="subheading text-center">Verschiedene Anwendungsmöglichkeiten, unterschiedliche Wirkungen</div>
                      <br>
                      <p>Atmet man einen Duft ein, gelangt dieser direkt ins Limbische System. Das Zentrum, wo u.a. Gefühle, Gedächtnis, gesteuert und verarbeitet werden. Ein bekanntes Beispiel ist wohl der Lavendel. Die einen lieben ihn, die anderen überhaupt nicht. Je nachdem, was man für Erinnerungen mit diesem Duft hatte und verbindet, werden unterschiedliche Emotionen, Erinnerungen ausgelöst. 
                      Wahrnehmbar in der Raumluft aus Duftlampe oder Diffusor, u.a.</p>
                      <p>Aufgetragen auf der Haut, entfalten ätherische Öle ihre Wirkung, indem sie in den Stoffwechselvorgang des Menschen gelangen. Dies kann in Form eines Körperöls / Rollon erfolgen, aber auch während einer Dusche / eines Bades, oder einer Anwendung als Wickel und Kompresse.</p>
                      <p>Das Wirkungsspektrum der ätherischen Öle reicht von A wie aufmunternd/aphrodisierend über E wie „entspannend/erfrischend/entzündungshemmend“, hin zum H wie „harmonisierend“  bis schließlich zum Z wie „zentrierend“.
                      Fast zu jedem Buchstaben im Alphabet findet man ein Wort, mit dem man ätherische Öle beschreiben kann. So Vielfältig wie die unzähligen Inhaltsstoffe.</p>
                      <p>Damit man die Wirkung auf Körper und Psyche in vollen Zügen genießen zu kann, ist bei der Menge an benötigten Pflanzenmaterial (für 1 Liter Melissenöl bis zu 8000 kg) aber auch an Kontraindikationen und Vorsichtsgebote zu denken, damit es zu keinen unerwünschten Wirkungen kommt.</p>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md6>
                  <v-card flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Fettes Öl &ndash; Basisöl &ndash; Pflanzenöl</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Aus einer Vielzahl an Pflanzen, Samen, Beeren und Früchte kann man mittels Pressung oder Mazeration fette Öle (Wildrose, Kokos, Sesam, Mandel, Sanddorn, Hanf, Sanddorn,...) und Wachse (Jojoba) gewinnen. Diese finden Anwendung in verschiedenen Bereichen:  bei der Gesichts- und Körperpflege, als innere Einnahme bei einer Ölkur oder in der Küche.</p>
                      <p>Auf Empfehlungen und Anwendungsmöglichkeiten ist zu achten, da sich nicht jedes Öl/Wachs für alle Bereiche eignet!</p>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md6>
                  <v-card flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Hydrolate</div>
                    </v-card-title>
                    <v-card-text>
                     <p>Eine wundervolle Wirkung haben Hydrolate. Lange als Nebenprodukt bei der Gewinnung von ätherischen Ölen bezeichnet, gewinnen diese immer mehr an Bedeutung. 
                     <p>Die in den Destillaten enthaltenen wasserlöslichen Substanzen von Lavendel, Orangenblüte, Rose, Rosmarin, Wacholder (als alkoholfreier Gin zu verwenden 😉) und vielen weiteren, kommen in Körperpflegeprodukten, als zarte Raumbeduftung oder direkt auf die Haut gesprüht zur Anwendung.
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="assets/muskatellersalbei-marienkaefer.jpg" height="380">
          <v-layout column align-center justify-center>
            <div class="shadow headline white--text mb-4 text-center">„Wer die Kostbarkeit des Augenblicks entdeckt, findet das Glück im Alltag“</div>
            <em class="shadow">Adalbert Stifter</em>
          </v-layout>
        </v-parallax>
      </section>

      <section id="leistungen">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Aromafachberatung</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Es darf an Lieblingsdüften geschnuppert und neue Duftrichtungen kennengelernt werden. Kontraindikationen und Vorsichtsgebote werden dabei berücksichtigt. Je nach Duftvorliebe und anstehenden persönlichen Themen entsteht eine Rezeptur, die gemischt wird. Um diese Komposition in den Alltag integrieren zu können, gibt es unterschiedliche Anwendungsmöglichkeiten, die besprochen werden.</p>
                      <div class="text-center"><img src="assets/beratung.jpg"></div>
                      <p>Nach ca. 3 Wochen gibt es eine kurze Nachbesprechung (Feedback), wo bewährte Mischungen nachproduziert oder bei Bedarf abgeändert werden können.</p>
                      <v-simple-table>
                        <template v-slot:default>
                          <tbody>
                            <tr>
                              <td>Erstberatung</td>
                              <td>
                                67 €
                                <div class="small">Dauer ca. 90 Minuten, inkl. Anamneseerhebung</div>
                              </td>
                            </tr>
                            <tr>
                              <td>Folgeberatung</td>
                              <td>
                                57 €
                                <div class="small">Dauer ca. 60 Minuten</div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <div>2,5 ml Mischung und Feedback inklusive</div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <div class="small">Kosten für Nachbestellung/Veränderung der individuellen Mischung richtet sich nach den Inhaltsstoffen. Leistung auch als Gutschein erhältlich.</div>
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Körperanwendungen</div>
                    </v-card-title>
                    <v-card-text>
                      <p><b>Aromastreichung</b> und <b>rhythmisches Körperbalancing</b> (Arme, Beine oder Rücken) führe ich nach dem <a class="text-no-wrap" target="_blank" href="https://www.humanenergetiker.co.at/berufsbild/3-ebenen-modell/">3 Ebenen Modell</a> der WKO durch. Die Anwendung erfolgt auf der Haut (materielle Ebene) mit einer Mischung aus ähterischem Öl und Basisöl.
                        Die Wirkung zeigt sich auf der energetisch-feinstofflichen Ebene, dem eigentlichen Tätigkeitsbereich eines Humanenergetikers. Selbstheilungskräfte werden aktiviert, Blockaden können gelöst und Wohlbefinden erlangt werden.</p>
                      <p><b>Wickel und Auflagen</b> biete ich ebenfalls an. Diese werden als unterstützende Maßnahme bei Entgiftungskuren oder einfach nur zum Entspannen angewendet.</p>
                      <v-simple-table>
                        <template v-slot:default>
                          <tbody>
                            <tr>
                              <td>
                                25 Minuten
                              </td>
                              <td>
                                37 € 
                              </td>
                            </tr>
                            <tr>
                              <td>50 Minuten</td>
                              <td>
                                57 €
                              </td>
                            </tr>
                            <tr>
                              <td colspan="2">Eine Nachruhzeit von ca. 10 Minuten ist einzuplanen</td>
                            </tr>
                            <tr>
                              <td colspan="2"><div class="small">Leistung auch als Gutschein erhältlich.</div></td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card flat class="transparent">
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-center">Duftmarketing & AirDesign</div>
                    </v-card-title>
                    <v-card-text>
                      <p>Düfte lösen eine bestimmte Reaktion in uns aus, wenn sie einem in die Nase gelangen, auch kaum wahrnehmbare Düfte. Umso angenehmer ein Duft erscheint, desto länger wird man sich in diesem Umfeld aufhalten.</p>
                      <p>Sei es bei der Partnerwahl, einer Kaufentscheidung oder dem Wiedererkennungswert &ndash; Düfte entscheiden mit.</p>
                      <p>In Warteräumen und Praxen von Ärzten/Therapeuten wird mit der raumluftreinigenden und -harmonisierenden Wirkung eine angenehme Atmosphäre geschaffen.
                        Auch Mitarbeiter in Büros können von konzentrationssteigernden ätherischen Öle profitieren.</p> 
                      <p>Eine weitere Anwendungsmöglicheit ist die Unterstützung des Wiedererkennungswertes einer Firma mittels Corporate Scent.
                        </p>
                      <v-simple-table>
                        <template v-slot:default>
                          <tbody>
                            <tr>
                            <tr>
                              <td>Kosten</td>
                              <td>
                                auf Anfrage
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md12>
                  <v-card flat class="transparent">
                    <v-card-text>
                      <p>Zur Anwendung kommen nur naturreine ätherischen Öle, fette Öle und Hydrolate. Vorzugsweise in Bio Qualität (nach Verfügbarkeit) von Firmen in und um Österreich, z.B. von <a href="https://feeling.at/shop/">feeling</a>.</p>
                      <p>Nur Barzahlung möglich. <b>Tipp:</b> Eventuell ist gegen Vorlage der Rechnung eine Kostenrückerstattung für ganzheitsmedizinische Behandlungsmethoden über Ihre Zusatzversicherung möglich. Informieren Sie sich!<//p>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="assets/mohnklatschhummel.jpg" height="380">
          <v-layout column align-center justify-center>
            <div class="shadow headline white--text mb-4 text-center">„Wenn es einen Glauben gibt, der Berge versetzen kann, dann ist es der Glaube an die eigene Kraft.“</div>
            <em class="shadow">Marie von Ebner-Eschenbach</em>
          </v-layout>
        </v-parallax>
      </section>

      <section id="ueber-mich">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h2 class="headline">Über mich</h2>
              <span class="subheading">
                Hinter dem Namen Elfendüfte stecke ich, Sabine Krenn
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md12>
                  <v-card flat class="transparent">
                    <v-card-text>
                      <p>Seit vielen Jahren als Dipl. Gesundheits- und Krankenpflegerin in den verschiedensten Einrichtungen und Richtungen tätig.</p>
                      <p>Erst das Verfassen einer Fachbereichsarbeit im Rahmen der Ausbildung zur Dipl. Aromapraktikerin / Aromapflege veranlasste mich zu reflektieren, wann ich den ersten „Kontakt“ mit ätherischen Ölen hatte und was sich daraus entwickelte:</p>
                      <p>Wie bei vielen anderen auch, war mein erster Zugang vor über 20 Jahren „NUR“ über den Duft. Ein Fläschchen wurde angeschafft, damals eine Duftmischung. Das erste Eintauchen ins Reich der naturreinen Düfte begann, indem ich immer neugieriger wurde und nachlas, was da denn alles so drin sei und warum es so duftet wie es duftet. Bücher um Bücher folgten &ndash; nicht nur Neuerscheinungen. Auch vergangenes Wissen, nachzulesen in Büchern aus Antiquariaten, finde ich spannend. Eine zusätzliche Liebe! 💚</p>
                      <p>Das Erlernen der Biochemie öffnete bei mir ganz neue Perspektiven. Nun steht nicht nur mehr der Duft im Vordergrund, auch die psychische und körperliche Wirkung der ätherischen Öle gewinnt bei der Auswahl zunehmend an Bedeutung.</p>
                      <br>
                      <div class="subheading text-center">Mit großer Leidenschaft mische ich Öle, Extrakte und Enfleurage miteinander, um eine neue Kreation zu erstellen.</div>
                      <br>
                      <p>Private Umstände ermöglichen mir das Arbeiten in meiner Praxis, in der ich Ihnen dieses wunderbar wirkende und duftende Reich näherbringen kann.</p>
                      <br>
                      <div class="subheading text-center">Entspannen, ausspannen, eine Auszeit vom Alltag nehmen. 
                      Und gleichzeitig auch etwas für die eigene Gesundheit tun.</div>
                      <br>
                      <p>Fort- und Weiterbildungen, u.a. bei aromapflege.com (Evelyn Deutsch) und aromainfo.at (Ingrid Karner), befähigen mich als Dipl. Aromapraktikerin und in der komplementären Pflege &ndash; Aromapflege tätig zu sein.</p>
                      <p>Vereinsmitglied der <a target="_blank" href="https://www.aromapraktiker.eu">VAGA &ndash; Vereinigung für Aromapflege und gewerbliche AromapraktikerInnen</a></p>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>
      
      <section>
        <v-parallax src="assets/rosenbluete.jpg" height="380">
          <v-layout column align-center justify-center>
            <div class="shadow headline white--text mb-4 text-center">„Der Rose süßer Duft genügt, man braucht sie nicht zu brechen, und wer sich mit dem Duft begnügt, den wird ihr Dorn nicht stechen.“</div>
            <em class="shadow">Friedrich Bodensted</em>
          </v-layout>
        </v-parallax>
      </section>

      <section id="galerie">
        <v-layout
          column
          wrap
          class="my-12"
          align-center
        >
          <v-flex xs12 sm4 class="my-4">
            <div class="text-center">
              <h2 class="headline">Galerie</h2>
              <span class="subheading">
                Bilder einiger Pflanzen, deren Düfte und Wirkungen ich verwende und anbiete
              </span>
              <gallery :images="images" :index="index" @close="index = null"></gallery>
              <v-container grid-list-xl>
                <v-layout row wrap align-center>
                  <v-flex xs12 md4
                    v-for="image, imageIndex in images"
                  >
                    <v-card flat>
                      <v-card-text
                        class="text-center image"
                        @click="index = imageIndex"
                        :style="{ backgroundImage: 'url(' + image + ')' }"
                      ></v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="assets/regenbogen.jpg" height="380">
          <v-layout column align-center justify-center>
            <div class="shadow headline white--text mb-4 text-center">„Und plötzlich weißt du: Es ist Zeit, etwas Neues zu beginnen und dem Zauber des Anfangs zu vertrauen“</div>
            <em class="shadow">Meister Eckhart</em>
          </v-layout>
        </v-parallax>
      </section>

      <section id="kontakt">
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-12">
            <v-flex xs12 sm6>
              <v-card flat class="transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Sabine Krenn</div>
                </v-card-title>
                <v-card-text>
                  <div class="subheading text-center">Dipl. Aromapraktikerin ✻ DGKP-Aromapflege</div>
                </v-card-text>
                <v-list class="transparent">
                  <v-list-item href="tel:+436508095272">
                    <v-list-item-action>
                      <v-icon class="deep-purple--text text--lighten-2">mdi-phone</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>+43 650 8095272</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item href="https://goo.gl/maps/bCyMhC6k39sUBMXn8" target="_blank">
                    <v-list-item-action>
                      <v-icon class="deep-purple--text text--lighten-2">mdi-map-marker</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>8020 Graz, Grüne Gasse 21d</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item :href="'mailto:' + ceomnatial">
                    <v-list-item-action>
                      <v-icon class="deep-purple--text text--lighten-2">mdi-email</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title>{{ ceomnatial }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
                <v-card-text>
                  Termin nach Vereinbarung. Bestellungen nehme ich gerne auch per e-mail entgegen. Ich freue mich über Ihre Anfrage!
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6>
              <v-card flat class="transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Haftungsausschluss</div>
                </v-card-title>
                <v-card-text>
                  Meine auf dieser Webseite und in der Praxis angebotenen Behandlungen, Beratungen und Empfehlungen
                  dienen zur Steigerung des Wohlbefindens und um in Balance zu kommen. Es werden keine Diagnosen
                  erstellt und Krankheiten behandelt. Dies obliegt dem Arzt, Therapeuten oder Lebens- und
                  Sozialberater. Eine laufende Therapie und/oder Medikation soll nicht unterbrochen werden.
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section id="kontakt">

      <v-footer color="purple darken-4">
        <v-layout row wrap align-center>
          <v-flex xs12>
            <div class="small white--text ml-4">
              &copy; 2019-present Elfendüfte Sabine Krenn. Impressum.
            </div>
          </v-flex>
        </v-layout>
      </v-footer>
    </v-content>
  </v-app>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-helper.js"></script> 
 <script src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery.js"></script> 
 <script src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery-fullscreen.js"></script> 
 <script src="https://cdn.jsdelivr.net/npm/vue-gallery@2.x"></script>
 <script>
   const karlklammer = '@';
   new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    components: {
      'gallery': VueGallery
    },
    data () {
      return {
        menuItems: [{
          title: 'Ätherische Öle & Co.',
          path: '#aetherische-oele'
        }, {
          title: 'Leistungen',
          path: '#leistungen'
        }, {
          title: 'Über mich',
          path: '#ueber-mich'
        }, {
          title: 'Galerie',
          path: '#galerie'
        }, {
          title: 'Kontakt',
          path: '#kontakt'
        }],
        images: [
          'assets/lightbox/Citrus.jpg',
          'assets/lightbox/Dill.jpg',
          'assets/lightbox/Geranium.jpg',
          'assets/lightbox/Lavendel.jpg',
          'assets/lightbox/Melisse.jpg',
          'assets/lightbox/Muskatellersalbei.jpg',
          'assets/lightbox/Nachtkerze.jpg',
          'assets/lightbox/Neroli.jpg',
          'assets/lightbox/Orange.jpg',
          'assets/lightbox/Ringelblume.jpg',
          'assets/lightbox/Rosmarin.jpg',
          'assets/lightbox/Salbei.jpg',
          'assets/lightbox/Schopflavendel.jpg',
          'assets/lightbox/Speiklavendel.jpg',
          'assets/lightbox/Thymian.jpg',
          'assets/lightbox/Vetiver.jpg',
          'assets/lightbox/Wacholderbeere.jpg',
          'assets/lightbox/Zeder.jpg',
        ],
        index: null,
        sidebar: false,
        ceomnatial: ('ta.etfeudnefle' + karlklammer + 'liam').split('').reverse().join('')
      }
    }
  })
 </script>
</body>
</html>
