[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: "     Bitte einen Moment Geduld, während Sabine Elfendüfte kreiert...";
  display: block;
  margin: 16px;
  background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
  background-size: 16px;
  background-repeat: no-repeat;
}
body {
  overflow-x: hidden;
}
section {
  margin-top: -20px;
  padding-top: 20px;
}

.button {
  cursor: pointer;
}
.shadow {
  text-shadow: 0 0 5px black;
}
.image {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.v-application .headline, .subheading {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif !important;
}
div.v-application a {
  color: #BC9848 ;
}
a.subheading {
  text-decoration: none;
}
.subheading {
  font-size: 1.25rem;
}
.small {
  font-size: 80%;
  line-height: 1rem;
}
.subheading.small {
  font-size: 1rem;
}
.fill-width {
  width: 100%;
}
.fill-height {
  height: 100%;
  align-items: stretch;
}
.max300 {
  max-width: 300px;
}
.float-half {
  float: left;
  width: calc(50% - 10px);
  padding-right: 10px;
}
.float-half-right {
  float: right;
  width: calc(50% - 10px);
  padding-left: 10px;
}
.float-half.right {
  padding-left: 10px;
  padding-right: 0;
  float: inherit;
  clear: right;
}
.v-card__title {
  word-break: normal;
}
.v-card__title b {
  color: #54472F
}
.impressum h1, .impressum h2, .impressum h3 {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.impressum h1 {
  font-size: 1.75em;
}
.blueimp-gallery>p.description {
  top: 37px;
  padding-right: 5px;
}
a {
  color: #BC9848
}
div.summary {
  display: none;
}
.diary-thumb-title {
  color: #BC9848;
  padding-bottom: 10px;
}
.services-thumb-title {
  color: #BC9848;
  padding-bottom: 10px;
}

.divider-wrapper {
  display: block;
  width: 100%;
  text-align: center;
}

.divider-container {
  width: 90%;
  max-width: 700px;
  white-space: nowrap;
  display: inline-block;
}

.divider {
  display: inline-block;
  width: calc(50% - 70px);
  height: 38px;
  border-top: 1px solid #ebebeb;
}

.divider.portrait {
  height: 48px;
}

.divider-image {
  width: 120px;
}

header.v-toolbar {
  background-color: #BC9848 !important;
}