.ci {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.button {
  cursor: pointer;
}
.shadow {
  text-shadow: 0 0 5px black;
}
.image {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.v-application .headline, .subheading {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif !important;
}
.subheading {
  font-size: 1.25rem;
}
.small {
  font-size: 80%;
  line-height: 1rem;
}
.fill-width {
  width: 100%;
}
.float-half {
  float: left;
  width: calc(50% - 10px);
  padding-right: 10px;
}
.v-card__title {
  word-break: normal;
}
.impressum h1, .impressum h2, .impressum h3 {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}