[v-cloak] > * { display:none; }
[v-cloak]::before { 
  content: "     Bitte einen Moment Geduld, während Sabine Elfendüfte kreiert...";
  display: block;
  margin: 16px;
  background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
  background-size: 16px;
  background-repeat: no-repeat;
}
body {
  overflow-x: hidden;
}

.button {
  cursor: pointer;
}
.shadow {
  text-shadow: 0 0 5px black;
}
.image {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
.v-application .headline, .subheading {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif !important;
}
div.v-application a {
  color: #800080;
}
a.subheading {
  text-decoration: none;
}
.subheading {
  font-size: 1.25rem;
}
.small {
  font-size: 80%;
  line-height: 1rem;
}
.subheading.small {
  font-size: 1rem;
}
.fill-width {
  width: 100%;
}
.max300 {
  max-width: 300px;
}
.float-half {
  float: left;
  width: calc(50% - 10px);
  padding-right: 10px;
}
.float-half-right {
  float: right;
  width: calc(50% - 10px);
  padding-left: 10px;
}
.float-half.right {
  padding-left: 10px;
  padding-right: 0;
  float: inherit;
  clear: right;
}
.v-card__title {
  word-break: normal;
}
.impressum h1, .impressum h2, .impressum h3 {
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.impressum h1 {
  font-size: 1.75em;
}
.blueimp-gallery>p.description {
  top: 37px;
  padding-right: 5px;
}
a {
  color: purple
}
div.summary {
  display: none;
}
.diary-thumb-title {
  color: purple;
  padding-bottom: 10px;
}
.services-thumb-title {
  color: purple;
  padding-bottom: 10px;
}

.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.divider-block {
  width: 90%;
  max-width: 700px;
}
.col {
  flex: 1;        /* distributes space on the line equally among items */
  align-items: center;
}

.divider {
  height: 50px;
  border-bottom: 1px solid #ebebeb;
  flex-grow: 2;
}

.divider-image {
  width: 120px;
  flex-grow: 0;
}